

body{
  margin: 0;
  padding: 0;
}

.title{
  padding: 30px;
}

.ui-container {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  width: 100%;
  height: 100%;
  
}

h1 {
  font-size: 70px;
}

h2 {
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}

.item {
  padding: 15px;
  font-size: 20px;
  background: #eceeee;
  color: #32ccad;
}

.header {
   font-weight: 900;
   margin-bottom: 10px;
   color: #23a88e;
   font-size: 25;

}
